* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: inherit;
}
.herosection {
  background: linear-gradient(90deg, #000000c1 100%, #000000b9 100%),
    url(./assets/herobanner.jpg) no-repeat center center / cover !important;
}
.link {
  text-decoration: underline;
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  
  width: 100%;
}

.page_404 img {
  width: 100%;
}

.w-100{
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
